.product-page{
    max-width: 1500px;  
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    .product-page-hero{

        h1{
            font-weight: 800;
        }

        .line-product-hero{
            content: '';
            height: 2px;
            background-color: $primary-color;
            width: 100%;
            margin: 20px 0;
        }

        p{
            max-width: 1000px;
            line-height: 30px;
            font-size: 16px;
        }
    }

    .product-page-main{
        display: flex;
        flex-direction: column;
        width: 100%;

        .product-page-filter{
            max-width: 300px;

            h4{
                margin-top: 10px;
                font-size: 14px;
                font-weight: 800;
            }

            .line-filter{
                content: '';
                height: 2px;
                background-color: $primary-color;
                width: 100%;
            }

            a{
                text-decoration: none;
                color: $primary-color;
                transition: all 0.2s ease;

                &:hover{
                    transition: all 0.2s ease;
                    color: $third-color;
                    text-decoration: underline;
                }
            }
        }
    }
}